name: 'testing project'
on:
  push:
  pull_request:
jobs:
  test-job:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      name: 'setup node'
      with:
        node-version: '14.x'

    - name: 'install'
      run: npm i

    - name: 'test'
      run: npm run test

    - name: 'lint'
      run: npm run lint